*:focus {
    outline: none; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.header {
    background-color: #0E1D28;
}

.about {
    padding-top: 166px;
    padding-bottom: 32px;
    text-align: center;
}

.about-title {
    color: #102746;
    margin-bottom: 56px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about-subtitle {
    font-size: 20px;
    margin-bottom: 64px;
    line-height: 1.5;
}

.website {
    background-color: #f8f9fa;
}

.website hr {
    margin: 16px 0 64px 0;
}

.website-container {
    padding: 96px 0;
    display: flex;
}

.website-left-side {
    padding: 0 10px;
}

.website-right-side {
    padding: 0 10px;
    margin-left: 108px;
}

.website-title {
    color: #102746;
    font-size: 30px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.website-title-link {
    display: block;
    color: #F19167;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 8px;
}

.website-title-link:hover {
    text-decoration: underline;
}

.website-subtitle {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 64px;
}

.website-img {
    width: 738px;
    height: 492px;
    border-radius: 15px;
}




@media (max-width:1400px) {
    .website-img {
        width: 540px;
        height: 360px;
    }

    .website-container {
        padding: 96px 10px;
    }

    .website hr {
        margin-bottom: 40px;
    }

    .website-subtitle {
        margin-bottom: 40px;
    }
}

@media (max-width:1020px) {
    .about {
        padding-top: 142px;
    }

    .about-title {
        margin-bottom: 30px;
    }

    .about-subtitle {
        margin-bottom: 40px;
    }

    .website-container {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .website-left-side {
        width: 100%;
    }

    .website-right-side {
        width: 100%;
        margin-left: 0;
        margin-bottom: 48px;
    }

    .website-right-side {
        order: -1;
    }

    .website-img {
        width: 700px;
        height: 467px;
    }



}

@media (max-width:770px) {
    .website-img {
        width: 520px;
        height: 347px;
    }
}

@media (max-width: 580px) {
    .website-img {
        width: 100%;
        height: 300px;
    }
}


@media (max-width: 440px) {
    .website-img {
        height: 230px;
    }
}

@media (max-width: 340px) {
    .website-img {
        height: 180px;
    }
}